body {
    background: #C0C0F5;
    font-family: 'Roboto', sans-serif;
}

a {
    color: #2470a0;
}


.weather-app-container {
    background: linear-gradient(111.5deg, rgb(228, 247, 255) 21.9%, rgb(255, 216, 194) 92.2%);
    max-width: 600px;
    margin: 45px auto;
    padding: 30px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 30px;
}

header {
    border-bottom: 1px solid #fdc57b;
    padding: 0 0 30px 0;
}
.search-form-input {
background-color: #F9F7FE;
border: none;
border-radius: 6px;
width: 80%;
font-size: 16px;
padding: 15px 20px;
}
.search-form-button {
    background-color: #fdc57b;
    padding: 15px 30px;
    border: none;
    font-size: 16px;
    margin-left: 5px;
    border-radius: 6px;
    color: white;
}
main {
padding: 30px;
}
.weather-app-data {
    display: flex;
    justify-content: space-between;
}
.current-city {
margin: 0;
font-size: 38px;
line-height: 48px;
}

.current-weather-details{
font-size: 16px;
line-height: 24px;
color: rgba(39, 33, 66, 0.4);
font-weight: 500px;
}
.current-weather-details strong {
color: #2470a0;
}
.weather-app-temperature-container {
display: flex;
}

.weather-app-icon {
width: 88px;
height: 88px;
margin-left: 10px;
}

.temperature {
font-size: 88px;
line-height: 88px;
font-weight: bold;
}

.weather-app-unit {
margin-top: 6px;
font-size: 28px;

}

footer {
    border-top: 1px solid #fdc57b;
    padding: 30px 0 0 0;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}
.weather-forecast-day {
    padding: 15px;
}
.weather-forecast-date {
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}
.weather-forecast-temperatures {
  text-align: center;
  color: #f65282;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.weather-forecast-icon {
  font-size: 38px;
  text-align: center;
}

.weather-forecast-temperature {
  padding: 0 10px;
}